name: Terraform Infra Apply

on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init with Backend
        run: |
          terraform init \
            -backend-config="bucket=${{ secrets.S3_BUCKET }}" \
            -backend-config="dynamodb_table=${{ secrets.DYNAMO_TABLE }}" \
            -backend-config="region=ap-south-2" \
            -backend-config="key=infra/terraform.tfstate"


      - name: Terraform plan
       
        run: terraform plan

      - name: Terraform Apply
        
        run: terraform apply -auto-approve
