name: Terraform CI/CD

on:
  workflow_dispatch:
  repository_dispatch:
    types: [trigger-terraform]

jobs:
  terraform:
    name: Terraform Plan & Apply
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ap-south-2
      TF_IN_AUTOMATION: "true"

    steps:
      ########################################
      # 1. Checkout the repository
      ########################################
      - name: Checkout repo
        uses: actions/checkout@v4

      ########################################
      # 2. Configure AWS credentials
      ########################################
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-2

      ########################################
      # 3. Setup Terraform
      ########################################
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      ########################################
      # 4. Init Terraform (Remote Backend)
      ########################################
      - name: Terraform Init
        run: terraform init -input=false

      ########################################
      # 5. Validate Terraform code
      ########################################
      - name: Terraform Validate
        run: terraform validate

      ########################################
      # 6. Terraform Plan
      ########################################
      - name: Terraform Plan
        run: terraform plan -out=tfplan

      ########################################
      # 7. Terraform Apply (auto-approve)
      ########################################
      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'   # apply only on main branch
        run: terraform apply -auto-approve tfplan

      - name: Get Terraform public IP
        id: tf
        run: |
          WEB_IP=$(terraform output -raw ec2_public_ip)
          echo "WEB_IP=$WEB_IP" >> $GITHUB_ENV
          echo "WEB_IP=$WEB_IP" >> $GITHUB_OUTPUT

      - name: Trigger Frontend Pipeline
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.GH_PAT }}
         
          repository: devikam18/frontend
          event-type: trigger-frontend
          client-payload: |
            {
              "web_ip": "${{ steps.tf.outputs.WEB_IP }}"
            }


