name: Terraform Infra Apply

on:
  workflow_run:
    workflows: ["Terraform Bootstrap Apply"]
    types:
      - completed

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Initialize Terraform Backend
        run: |
          # Get outputs from the triggering workflow
          S3_BUCKET=${{ github.event.workflow_run.outputs.s3_bucket }}
          DYNAMO_TABLE=${{ github.event.workflow_run.outputs.dynamo_table }}

          echo "Using backend S3 bucket: $S3_BUCKET"
          echo "Using backend DynamoDB table: $DYNAMO_TABLE"

          terraform init -reconfigure \
            -backend-config="bucket=$S3_BUCKET" \
            -backend-config="dynamodb_table=$DYNAMO_TABLE" \
            
            -backend-config="key=infra/terraform.tfstate"

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: terraform apply -auto-approve

