name: Terraform CI/CD

on:
  workflow_dispatch:
  repository_dispatch:
    types: [trigger-terraform]

jobs:
  terraform:
    name: Terraform Plan & Apply
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ap-south-2
      TF_IN_AUTOMATION: "true"

    steps:
      # 1. Checkout the repo
      - name: Checkout
        uses: actions/checkout@v4

      # 2. Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.7.0  # Use your desired version

      # 3. Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}


      ############################################
      # 5. Terraform Main Infrastructure
      ############################################
      - name: Terraform Init - Main Infra
        run: terraform init

      - name: Terraform Plan - Main Infra
        run: terraform plan -out=tfplan

      - name: Terraform Apply - Main Infra
       
        run: terraform apply -auto-approve tfplan
